@import '../../../assets/styles/variables';

mat-card {

  mat-card-title {
    color: $secondary;
    font-size: 1.25em !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
  }

  mat-card-subtitle {
    color: $grey-text;
  }

  .image-container {
    text-align: center;
    width: auto;
    height: 225px;

    img {
      width: auto;
      max-height: 100%;
    }
  }

  mat-card-content {
    color: $primary-text;
    margin-top: .75em;

    .content {
      display: block;
      margin-top: .75em;

      p span {
        color: $grey-text;
      }

      p, ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          color: $grey-text;
          padding-left: 1.5em;
        }
      }
    }
  }
}
