$mat-primary-green: (
  50 : #f2f5ef,
  100 : #dfe7d6,
  200 : #cad7bb,
  300 : #b4c79f,
  400 : #a4bb8b,
  500 : #94af76,
  600 : #8ca86e,
  700 : #819f63,
  800 : #779659,
  900 : #658646,
  A100 : #efffe0,
  A200 : #d4ffad,
  A400 : #b9ff7a,
  A700 : #abff61,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #f8ffd7,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/*Primary*/
$primary: #94af76;
$primary-dark: #65804a;
$primary-light: #f8ffd7;

/*Secondary*/
$secondary: #ffa000;
$secondary-dark: #c67100;
$secondary-light: #ffd149;

/*Warning*/
$warn: #d50000;

/*Others*/
$off-white: #ECEDED;
$silver: #DADBDB;
