/*Primary*/
$primary: #c5e1a5;
$primary-dark: #94af76;
$primary-light: #f8ffd7;

/*Secondary*/
$secondary: #ffa000;
$secondary-dark: #c67100;
$secondary-light: #ffd149;

/*Warning*/
$warn: #d50000;

/*Others*/
$off-white: #ECEDED;
$silver: #DADBDB;
