@import "pallette";

/*text*/
$white-text: $off-white;

$primary-text: $primary;
$primary-text-dark: $primary-dark;
$primary-text-light: $primary-light;

$accent-text: $secondary;
$accent-text-dark: $secondary-dark;
$accent-text-light: $secondary-light;

$warning-text: $warn;
