@import './variables';
@import './mixins';

body {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif, Verdana, Arial !important;
  font-size: 16px;

  main {
    position: relative;
    flex: 1 0 auto;
    padding: .75em 0 ;
    width: 80vw;
    margin: 0 auto;
  }

  footer {
    padding: .75em;
  }
}

.utils {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-full-width {
    width: 100%;
  }
}
